.card-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 10px;
}
.avatar-card{
  margin-top: 20px;
    border-radius: 50% !important;
    width: 100px !important;
    height: 100px;
    display: flex;
    font-size: 34px;
}
.hover-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  gap: 8px; 
  z-index: 3;
}
.ant-card-cover{
        display: flex
;
    justify-content: center;
}
.hover-button{
    
  width: 50px !important;
  height: 50px;
}
.card-with-hover {
    position: relative;
  overflow: hidden; 
  
}
 .card-with-hover:hover{
    background: rgba(0,0,0,0.2);
 }
.card-with-hover:hover .hover-buttons {
  opacity: 1;
}