.user-data-bady{
    min-height: calc(100vh - 64px);

    background-color: hsl(216deg 20% 95.1%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.view-user{
    margin-top:60px;
    height: fit-content;
    max-width:100vw ;
    width: 90%;
    background-color: white;
}
.user-pagination{
  margin-top:16px ;
    max-width:100vw ;
    width: 90%;
    justify-items: flex-end;
    text-align: right;

}

.view-user-head{
    padding: 0px 40px;
}
.ant-tabs-nav-wrap{
    padding: 0px 40px;
}
.ant-tabs-top >.ant-tabs-nav::before{
    display: none;
}
.card-table-user-view .ant-tabs-nav{

    margin: 0px;
    width: 100%;
}
.card-table-user-view .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab{
    padding: 2px 15px;
    margin: 0px;
}
.card-table-user-view .ant-tabs-tab {
    border: solid 1px hsl(0deg 0% 85.1%);
  border-radius: 0px;
  margin: 0;
  padding: 6px 16px;
  transition: all 0.2s ease;
}


.card-table-user-view .ant-tabs-tab-active {

  border:solid 1px #1677ff;
  background: aliceblue;
}


.card-table-user-view .ant-tabs-tab:nth-child(1) {
  border-top-left-radius: 3px ;
  border-bottom-left-radius: 3px ;
  border-top-right-radius: 0 ;
  border-bottom-right-radius: 0 ;
}

.card-table-user-view .ant-tabs-tab:nth-child(2) {
  border-top-right-radius: 3px ;
  border-bottom-right-radius: 3px ;
  border-top-left-radius: 0 ;
  border-bottom-left-radius: 0 ;
}
.ant-tabs-ink-bar {
    display: none;
  }

.ant-table-wrapper .ant-table-tbody>tr>td{
  padding: 11px 11px;
}

@media (min-width:270px) and (max-width:530px){
  .view-user-head{
        justify-content: center;
    flex-flow: wrap;
  }
  .search-create-user-button-container{
    padding-bottom: 20px;
  }
  .user-data-bady{
    height: 100%;
  }
}

.logout-spin{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255,.2);
}
.buttons{
  margin-top: 0;
  border-radius: 0;
}